body{
  margin: 0;
  background: linear-gradient(to right, #414243, hsl(0, 0%, 48%));
}

.front-container{
  text-align: center;
  color: white;
  font-family: monospace;
  padding: 50px;
}

@media only screen and (max-width: 600px) {
.front-container img{
  width: 100%;
}
}

.engineer-name{
  color: rgb(205, 205, 205);;
  font-size: 15pt;
}

.ps-container{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.projects,
.skills{
  display: inline;
  font-size: 15px;
  font-family: monospace;
  color: rgb(205, 205, 205);
}

* {
  outline: 2px solid red;
}